<div class="wrapper">
    <div class="page-header section-dark" style="background-image: url('assets/img/antoine-barres.jpg')">
        <div class="filter"></div>
            <div class="content-center">
                <div class="container">
                    <div>
                        <h2 class="presentation-subtitle">Seleccione Fecha</h2>
                        <br>
                        <div class="row">   
                            <br>
                            <div class="cent"><input class="in"  type="date"></div>
                            <br>
                            <div ngbDropdown class="d-inline-block dropdown">
                                <a class="nav-link" id="dropdownBasic1" ngbDropdownToggle>medico</a>
                                <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="dropdown-primary">
                                    <a class="dropdown-item" >doctor.nombredoctor.apellido</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-info btn-round">Consultar</button>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <table class="table tb table-striped presentation-subtitle" id="consultas" >
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Hora</th>
                            <th scope="col">Estado</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">n1</th>
                        <td>h1</td>
                        <td>e1</td>
                        <td><button type="button" class="btn btn-primary btn-sm" id="c1" >Agendar</button></td>
                    </tr>

                    </tbody>
                </table>
        </div>
    </div>
</div>
